:root {
	--background: #101010;
	--background2: #303030;
	--text: #D1D1D1;
	--font: TimesNewRoman;
	--version: 1;
	background-color: var(--background);
	color: var(--text);
	font-family: var(--font);
}

::selection {
	color: var(--background);
	background: var(--text);
}

body {
	min-width:600px;
	max-width:2000px;
	margin-top: 100px;
	margin-left: 350px;
	margin-right: 350px;
}

h1 {
	font-size: 35px;
	margin: auto;
	margin-bottom: 10px;
	text-align: center;
	width: 100px;
}

p {
	margin: auto;
	font-size: 20px;
	text-indent: 50px;
	text-align: center;
}
