@media (prefers-color-scheme: light) {
	:root {
		--background: #EEEEEE;
		--background2: #C1C1C1;
		--text: #303030;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #101010;
		--background2: #303030;
		--text: #EEEEEE;
	}
}

:root {
	--font: 'Gilda Display', serif;
	-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
    	text-rendering: optimizeLegibility;
	--version: 1;
	background-color: var(--background);
	color: var(--text);
	font-family: var(--font);
	font-weight: normal;
	line-height: 1.50;
}

::selection {
	color: var(--background);
	background: var(--text);
}

a {
	margin: auto;
	color: var(--text);
	text-decoration: none;
	transition: 0.25s ease-in-out;
}

a:hover {
	color: var(--background2);
}

hr {
	border: 1px solid var(--background2);
	margin-left: auto;
	margin-right: auto;
}

body {
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 350px;
	padding-right: 350px;
}

h1 {
	font-size: 34px;
	margin: auto;
	margin-bottom: 10px;
	text-align: center;
}

h1.title {
	font-size: 28px;
}

h1.home {
	color: var(--background2);
	transition: 0.10s;
	font-style: italic;
}

h1.home:hover {
	text-decoration: underline;	
}

p {
	text-indent: 50px;
	margin: auto;
	font-size: 18px;
	text-align: left;
}

p.sep {
	text-indent: 0px;
	border-bottom: 1px dotted var(--background2);
}

p.list {
	text-indent: 0px;
	float: left;
}

p.date {
	text-indent: 0px;
	float: right;
}

@media screen and (max-width: 1000px) {
	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 20px;
	}

	h1.title {
		font-size: 24px;
	}

	p {
		font-size: 14px;
		text-indent: 25px;
	}

	body {
        	overflow-x: hidden !important;
		padding-left: 20px;
		padding-right: 20px;
	}

	.container {
		max-width: 100% !important;
	        overflow-x: hidden !important;
	}
}
