:root {
	--background: #101010;
	--background2: #303030;
	--text: #D1D1D1;
	--font: TimesNewRoman;
	--version: 2;
	background-color: var(--background);
	color: var(--text);
	font-family: var(--font);
}

::selection {
	color: var(--background);
	background: var(--text);
}

body {
	margin-top: 6.5rem;
	margin-left: 22rem;
	margin-right: 22rem;
}

h1 {
	font-size: 2.2rem;
	margin: auto;
	text-align: center;
	width: 100px;
}

p {
	margin: auto;
	font-size: 1.2rem;
	text-indent: 3rem;
	text-align: left;
}
